<!--Overview of hikes user have enrolled in-->

{% extends 'main.html' %}

{% block content %}
        <div class="enrolled-content">
            {% for hike in hikes%}
                {%if request.user in hike.participants.all%}
                    <div>
                        <p class="hikeid">#{{hike.id}}</p>
                        <p class="">{{hike.title}}</p>
                        <p>Arrangør: @{{hike.host}}</p>
                        <p>Antall påmeldte: {{hike.participants.count}}</p>  
                    </div>
                {% endif %}
            {% endfor %}
        </div>
{% endblock %}