{% extends 'main.html' %}

{% block content %}
    
        <div class="main-display">
            {% for hike in hikes%}
                <div>
                    
                    <p class="hikeid">#{{hike.id}}</p>
                    <p class="">{{hike.title}}</p>
                    <p>Arrangør: @{{hike.host}}</p>
                    <p>Antall påmeldte: {{hike.participants.count}}</p>
                    <a href="{% url 'hike' hike.id%}"><p>Les mer</p></a>
                    
                </div>
            {% endfor %} 
        </div>
    
{% endblock content %}