{% extends 'main.html' %} {% block content %}
<!-- <div id="screen">
    
</div> -->
<div id="loginBox">
  <h1 id="loginH1">Logg inn</h1>

  <form method="POST" action="" id="loginForm">
    {% csrf_token %}

    <label></label>
    <input type="text" name="username" placeholder="Enter Username" />

    <label></label>
    <input type="password" name="password" placeholder="Enter Password" />

    <input type="submit" value="Logg inn" class="loginButton" />
  </form>

  <!--     <p>Not a user yet?</p> -->
</div>
<a href="{% url 'register' %}" id="signUpLink">Registrer ny bruker</a>

{% endblock content %}
