/*
Main CSS-file for main HTML-template.
Color palette:
EBF2FA: lightgrey
05668D: blue
427AA1: lighter blue
679436: green
A5BE00: army green
*/

* {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}


body {
    margin: 0;
    background-color: #5c6e2d;

}

.navbar {
    overflow: hidden;
    background-color: #def59f;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #333333;
    text-align: center;
    padding: 30px 50px;
    text-decoration: none;
    font-size: 18px;
    transition-duration: 0.5s;
}

.navbar a:hover {
    background: #f1f1f1;
    color: black;
}


header {
    background-image: linear-gradient(to bottom, #ff9966, #ff5e62);
    position: sticky;
    width: 100%;
    top: 0%;
    height: 10%;
    z-index: 1;
    
}

nav {
    background-color: #ff5e62;
    position: sticky;
}

main {
    background-color: #fff;
    overflow: scroll;
    padding: 0px;
    display: flexbox;

}

main p {
    margin: 0px;
    padding: 0px;
    height: 30%;
    width: 80%;
    border: solid 1px black;

}

footer {
    height: 10%;
    background-image: linear-gradient(to top, #ff9966, #ff5e62);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 80%;
}

#screen {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: bisque;
}

#loginBox {
    position: relative;
    top: 250px;
    left: 50%;
    margin-left: -300px;
    background-color: white;
    width: 600px;
    height: 270px;
    border-radius: 0.7%;
    box-shadow: 0 3px 7px grey;
    
 
}

#loginH1 {
    position: relative;
    margin: auto;
    text-align: center;
    top: 10%;
    
}
/* 
#formWrapper {
    position: absolute;
    height: 50px;
    bottom: 25px;
    border: 5px red solid;
} */

#loginForm {
    position: absolute;
    height: 30px;
    bottom: 120px;
    width: 400px;
    left: 50%;
    margin-left: -200px;

}

#loginForm label, input {
    height: 100%;
    width: 100%;
}

